# GENERAL
NATS_SERVER=nats://nats-server:4222

# DATABASE
DB_USER=
DB_PASSWORD=
DB_NAME=

# PBA MS GATEWAY
MS_GATEWAY_PORT=3000
MS_GATEWAY_DATABASE_URL=

# PBA MS AUTH
MS_AUTH_PORT=3001
MS_AUTH_DATABASE_URL=
MS_AUTH_SECRET=
MS_AUTH_RESTORE_PASSWORD_SECRET=

# PBA MS MANAGEMENT
MS_MANAGEMENT_PORT=3002
MS_MANAGEMENT_DATABASE_URL=

# PBA MS ROBOTICS
MS_ROBOTICS_PORT=3003