# GENERAL
NATS_SERVER=nats://nats-server:4222

# DATABASE
DB_USER=
DB_PASSWORD=
DB_NAME=

# PBA MS GATEWAY
MS_GATEWAY_PORT=3000
MS_GATEWAY_DATABASE_URL=

# PBA MS AUTH
MS_AUTH_PORT=3001
MS_AUTH_DATABASE_URL=
MS_AUTH_SECRET=
MS_AUTH_RESTORE_PASSWORD_SECRET=

# PBA MS MANAGEMENT
MS_MANAGEMENT_PORT=3002
MS_MANAGEMENT_DATABASE_URL=
MS_MANAGEMENT_OPENAI_API_KEY=
MS_MANAGEMENT_OPENAI_SYSTEM_PROMPT=
MS_MANAGEMENT_OPENAI_MODEL=

# PBA MS ROBOTICS
MS_ROBOTICS_PORT=3003
MS_ROBOTICS_PIPER_MODEL_PATH=/usr/src/app/src/core/models/voice/es_ES-davefx-medium.onnx
MS_ROBOTICS_ESPEAK_VOICE=es
MS_ROBOTICS_VOICE_SKIP_PLAYBACK=0
MS_ROBOTICS_PULSE_SERVER=unix:/run/user/1000/pulse/native

# PMAS WEB MAIN
WEB_MAIN_PORT=4200

# PMAI MAI CORE
PMAI_CORE_PORT=3004
PMAI_CORE_SETTINGS=/app/settings.toml
PMAI_CORE_PYTHONPATH=/app/src
PMAI_CORE_OMP_NUM_THREADS=1
PMAI_CORE_MKL_NUM_THREADS=1
PMAI_CORE_OPENBLAS_NUM_THREADS=1