[submodule "pba-ms-gateway"]
	path = pba-ms-gateway
	url = https://github.com/Semillero-Prometeo/pba-ms-gateway.git
	branch = dev
[submodule "pba-ms-auth"]
	path = pba-ms-auth
	url = https://github.com/Semillero-Prometeo/pba-ms-auth.git
	branch = dev
[submodule "pba-ms-management"]
	path = pba-ms-management
	url = https://github.com/Semillero-Prometeo/pba-ms-management.git
	branch = dev
[submodule "pba-ms-robotics"]
	path = pba-ms-robotics
	url = https://github.com/Semillero-Prometeo/pba-ms-robotics.git
	branch = dev
[submodule "pmas-web-main"]
	path = pmas-web-main
	url = https://github.com/Semillero-Prometeo/pmas-web-main.git
	branch = dev
[submodule "pba-arduino-codes"]
	path = pba-arduino-codes
	url = https://github.com/Semillero-Prometeo/pba-arduino-codes.git
	branch = dev
